.App {
  text-align: center;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.app-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.app-player img {
  width: 100px;
  cursor: pointer;
  background-color: blueviolet;
  padding: 10px;
}

.app-player img:hover{
  background-color: aqua;
}

.app-button {
  padding: 10px 80px;
  cursor: pointer;
  margin-left: 150px;
  margin-right: 200px;
}