.App {
  text-align: center;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

.app-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10rem;
}

.app-player img {
  width: 100px;
  cursor: pointer;
  background-color: rgb(6, 0, 12);
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.app-computer h2 {
  margin-top: -50px;
}

.app-player img:hover{
  background-color: rgb(36, 240, 128);
}

.app-button {
  padding: 10px 80px;
  cursor: pointer;
  margin-left: 150px;
  margin-right: 200px;
  color: rgb(5, 5, 5);
  font-size: 24px;
  background-color: rgb(250, 245, 245);
  border-radius: 8px;
}

.app-button:hover {
  background-color: rgb(12, 12, 12);
  color: rgb(250, 248, 248);
}

.app-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    
}

.card-modal {
    position: relative;
    top: 25rem;
    left: 65rem;
    background-color: rgba(14, 13, 13);
    width: 320px;
    height: 200px;
    border-radius: 8px;
    padding: 70px 20px;
    color: aliceblue;
}

.card-modal h1 {
  font-size: 40px;
  margin-top: -30px;
}

.btn-yes, .btn-no {
  padding: 5px 30px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-yes:hover, .btn-no:hover {
  background-color: aliceblue;
  color: black;
}

.btn-yes {
  color: aliceblue;
  background-color: green;
  margin-right: 20px;
  border: none;
}

.btn-no {
  color: aliceblue;
  background-color: red;
  margin-right: 20px;
  border: none;
}

.btn-reset {
  margin-top: 50px;
  padding: 10px 50px;
  color: aliceblue;
  background-color: black;
  cursor: pointer;
  font-size: 20px;
}

@media (max-width: 768px) {
  .app-game {
    margin-left: 0px;
    margin-right: 0px;

  }
  .app-player img {
    width: 50px;
  }

  .card-modal {
    top: 25rem;
    left: 10rem;
  }

  .app-computer img {
    width: 80px;
  }

  .app-header img {
    width: 200px;
  }

  .app-button {
    margin: 50px;
  }
}